.elementor-202 .elementor-element.elementor-element-4b1d9b4 > .elementor-container{min-height:68px;}.elementor-202 .elementor-element.elementor-element-4b1d9b4 > .elementor-container:after{content:"";min-height:inherit;}.elementor-202 .elementor-element.elementor-element-4b1d9b4 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-202 .elementor-element.elementor-element-81cbe44{text-align:left;}.elementor-202 .elementor-element.elementor-element-81cbe44 .elementor-image img{width:100%;max-width:322px;}.elementor-202 .elementor-element.elementor-element-0ff4ba8.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu .elementor-item{font-family:"Ubuntu", Sans-serif;font-size:15px;font-weight:400;}.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu--main .elementor-item{color:#FFFFFF;padding-left:12px;padding-right:12px;}.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#F67C0B;}.elementor-202 .elementor-element.elementor-element-5865cea .e--pointer-framed .elementor-item:before,
					.elementor-202 .elementor-element.elementor-element-5865cea .e--pointer-framed .elementor-item:after{border-color:#F67C0B;}.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-202 .elementor-element.elementor-element-5865cea .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#F67C0B;}.elementor-202 .elementor-element.elementor-element-5865cea .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-202 .elementor-element.elementor-element-5865cea .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#F67C0B;}.elementor-202 .elementor-element.elementor-element-5865cea > .elementor-widget-container{padding:0px 28px 0px 0px;}.elementor-202 .elementor-element.elementor-element-5865cea{width:auto;max-width:auto;}.elementor-202 .elementor-element.elementor-element-ea33c82 .elementor-button{fill:#FFFFFF;color:#FFFFFF;background-color:rgba(32, 51, 67, 0);padding:14px 30px 14px 30px;}.elementor-202 .elementor-element.elementor-element-ea33c82 .elementor-button:hover, .elementor-202 .elementor-element.elementor-element-ea33c82 .elementor-button:focus{color:#FFFFFF;}.elementor-202 .elementor-element.elementor-element-ea33c82 .elementor-button:hover svg, .elementor-202 .elementor-element.elementor-element-ea33c82 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-202 .elementor-element.elementor-element-ea33c82 > .elementor-widget-container{padding:0px 15px 0px 15px;}.elementor-202 .elementor-element.elementor-element-ea33c82{width:auto;max-width:auto;}.elementor-202 .elementor-element.elementor-element-7f5ba35 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-202 .elementor-element.elementor-element-7f5ba35 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-202 .elementor-element.elementor-element-69fe7e9 .elementor-icon-wrapper{text-align:center;}.elementor-202 .elementor-element.elementor-element-69fe7e9 .elementor-icon{font-size:41px;}.elementor-202 .elementor-element.elementor-element-69fe7e9 .elementor-icon i, .elementor-202 .elementor-element.elementor-element-69fe7e9 .elementor-icon svg{transform:rotate(0deg);}.elementor-202 .elementor-element.elementor-element-69fe7e9 > .elementor-widget-container{margin:3px -3px -3px -3px;padding:0px 0px 0px 0px;}.elementor-202 .elementor-element.elementor-element-4b1d9b4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:-68px;padding:0% 5% 0% 5%;z-index:9999;}.elementor-202 .elementor-element.elementor-element-4b1d9b4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-202 .elementor-element.elementor-element-0391abd > .elementor-container{min-height:67px;}.elementor-202 .elementor-element.elementor-element-0391abd > .elementor-container:after{content:"";min-height:inherit;}.elementor-202 .elementor-element.elementor-element-0391abd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-202 .elementor-element.elementor-element-a4bb011{text-align:left;}.elementor-202 .elementor-element.elementor-element-a4bb011 .elementor-image img{width:100%;max-width:322px;}.elementor-202 .elementor-element.elementor-element-3abd6ae > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon-wrapper{text-align:center;}.elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon{font-size:41px;}.elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon i, .elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon svg{transform:rotate(0deg);}.elementor-202 .elementor-element.elementor-element-d57241a > .elementor-widget-container{margin:3px -3px -3px -3px;padding:0px 0px 0px 0px;}.elementor-202 .elementor-element.elementor-element-0391abd:not(.elementor-motion-effects-element-type-background), .elementor-202 .elementor-element.elementor-element-0391abd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#171C28;}.elementor-202 .elementor-element.elementor-element-0391abd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:200px;margin-bottom:0px;}.elementor-202 .elementor-element.elementor-element-0391abd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-202 .elementor-element.elementor-element-5e50436{overflow:hidden;}@media(max-width:1024px){.elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon-wrapper{text-align:center;}.elementor-202 .elementor-element.elementor-element-0391abd{margin-top:0px;margin-bottom:0px;padding:0% 1% 0% 1%;}.elementor-202 .elementor-element.elementor-element-5e50436{margin-top:0px;margin-bottom:0px;padding:0% 2% 0% 2%;}}@media(min-width:768px){.elementor-202 .elementor-element.elementor-element-ec3ebd7{width:13.164%;}.elementor-202 .elementor-element.elementor-element-0ff4ba8{width:80.169%;}.elementor-202 .elementor-element.elementor-element-7f5ba35{width:6%;}}@media(max-width:1024px) and (min-width:768px){.elementor-202 .elementor-element.elementor-element-2fae284{width:30%;}.elementor-202 .elementor-element.elementor-element-8a1fdf4{width:61%;}}@media(max-width:767px){.elementor-202 .elementor-element.elementor-element-2fae284{width:50%;}.elementor-202 .elementor-element.elementor-element-a4bb011 .elementor-image img{max-width:131px;}.elementor-202 .elementor-element.elementor-element-8a1fdf4{width:34%;}.elementor-202 .elementor-element.elementor-element-3abd6ae{width:13%;}.elementor-202 .elementor-element.elementor-element-3abd6ae > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-202 .elementor-element.elementor-element-d57241a .elementor-icon{font-size:39px;}.elementor-202 .elementor-element.elementor-element-d57241a > .elementor-widget-container{margin:-4px 0px -3px 0px;padding:6px 1px 0px 1px;}.elementor-202 .elementor-element.elementor-element-0391abd{margin-top:0px;margin-bottom:0px;padding:0px 9px 0px 8px;}.elementor-202 .elementor-element.elementor-element-5e50436{margin-top:0px;margin-bottom:0px;}}/* Start custom CSS for button, class: .elementor-element-ea33c82 */.elementor-widget-button .elementor-button  {
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px; 
}

.elementor-widget-button .elementor-button:hover {
background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px; 
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7f5ba35 */.elementor-202 .elementor-element.elementor-element-7f5ba35    
{
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px;
    margin: 10px;
    max-width: 50px;        
    max-height: 50px
}
.elementor-202 .elementor-element.elementor-element-7f5ba35:hover{background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-ea33c82 */.elementor-widget-button .elementor-button  {
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px; 
}

.elementor-widget-button .elementor-button:hover {
background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px; 
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7f5ba35 */.elementor-202 .elementor-element.elementor-element-7f5ba35    
{
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px;
    margin: 10px;
    max-width: 50px;        
    max-height: 50px
}
.elementor-202 .elementor-element.elementor-element-7f5ba35:hover{background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4b1d9b4 */.elementor-202 .elementor-element.elementor-element-4b1d9b4.elementor-sticky--effects{
    background-color: #171C28DB;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

.elementor-202 .elementor-element.elementor-element-4b1d9b4{
    transition: background-color 2s ease 

}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3abd6ae */.elementor-202 .elementor-element.elementor-element-3abd6ae
{
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px;
    margin: 5px;
    max-height: 50px;
    max-width: 50px;
}
.elementor-202 .elementor-element.elementor-element-3abd6ae:hover{background:background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3abd6ae */.elementor-202 .elementor-element.elementor-element-3abd6ae
{
background: linear-gradient(91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: 4px 2px 16px #000000, -4px -2px 16px #2D475C;
border-radius: 100px;
    margin: 5px;
    max-height: 50px;
    max-width: 50px;
}
.elementor-202 .elementor-element.elementor-element-3abd6ae:hover{background:background: linear-gradient (91deg, #213443 -19.89%, #171D29 53.36%);
box-shadow: inset 6px 2px 16px #000000, inset -6px -2px 16px #2D475C;
border-radius: 100px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0391abd */.elementor-202 .elementor-element.elementor-element-0391abd.elementor-sticky--effects{
    background-color: #171C28DB;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

.elementor-202 .elementor-element.elementor-element-0391abd{
    transition: background-color 2s ease 

}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5e50436 */.elementor-202 .elementor-element.elementor-element-5e50436.elementor-sticky--effects{
    background-color: #171C28DB;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

.elementor-202 .elementor-element.elementor-element-5e50436{
    transition: background-color 2s ease 

}/* End custom CSS */